configuration{
    modi: "";
    show-icons: true;
    terminal: "kitty";
    drun-display-format: "{name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: false;
    display-drun: "";
    sidebar-mode: false;
    placeholder: "Search";
    font: "Roboto 15";
}

@import "~/.cache/wal/colors-rofi-dark"

entry {
    placeholder: "Search";
}

window {
    location: center;
    anchor: center;
}