@import "../../.cache/wal/colors-waybar.css";

* {
    font-family: "RobotoMono Nerd Font";
    font-size: 16px;
    min-height: 0;
    font-weight: 900;
}

window#waybar {
    background: transparent;
    background-color: @background;
    color: @foreground;
    border-bottom: 1px solid @foreground;
}


button {
    border: none;
    border-radius: 0;
    background-color: transparent;
    color: @background;
    background-color: @foreground;
    border: @foreground 2px solid;
    border-radius: 10px;
}

button:hover, 
#workspaces button.active {
    background: inherit;
    color: @foreground;
    border-top: 2px solid @foreground;
}

#workspaces button {
    padding:0 5px;
    margin: 2px 2px;
}


#workspaces button.urgent {
    background-color: #eb4d4b;
}

#pulseaudio,
#clock,
#battery,
#backlight,
#network,
#custom-logout,
#power-profiles-daemon {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 4px;
  padding-right: 4px;
  color: @background;
  background-color: @foreground;
  border: @foreground 2px double;
  border-radius: 10px;
}

#custom-logout{
    margin-right: 0px;
    padding-right: 8px;
}