@import "../../.cache/wal/colors-waybar.css";

* {
    font-family: "RobotoMono Nerd Font";
    font-size: 16px;
    min-height: 0;
    font-weight: 900;
}

window#waybar {
    background: transparent;
    background-color: @background;
    color: @foreground;
    border-bottom: 1px solid @foreground;
}

button {
    color: @background;
    background-color: @foreground;
    border: @foreground 2px solid;
    border-radius: 10px;
}

button:hover, 
#workspaces button.active,
#workspaces button.focused {
    background: inherit;
    color: @foreground;
    border-top: 2px solid @foreground;
}

#workspaces button {
    padding:0 3px;
    margin: 4px 3px;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#pulseaudio,
#clock,
#battery,
#backlight,
#network,
#custom-logout,
#privacy,
#user,
tooltip,
#power-profiles-daemon {
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 4px;
  padding-right: 4px;
  color: @background;
  font-size: 18px;
  background-color: @foreground;
  border: @foreground 2px double;
  border-radius: 10px;
}
#custom-play-pause{
    font-size: 18px;
}
tooltip label{
    font-size: 20px;
}
tooltip {
    background-color: @color2;
}
#custom-logout{
    padding-right: 8px;
}